@tailwind base;
@tailwind components;
@tailwind utilities;


.dress-btn{
    @apply  bg-white
  border border-[#4B2E83]
  text-[#4B2E83]
  py-3
  rounded-xl
  font-medium
  hover:bg-[#4B2E83]
  hover:text-white
  transition-all;
}
 
.edit-btn{
  @apply bg-green-500 text-white font-medium px-3 py-2 rounded-md mt-5 hover:bg-green-400;
}

.update-btn{
  @apply  bg-green-500 text-white font-medium px-3 py-2 rounded-md mt-5 w-full hover:bg-green-400;
}

.delete-btn{
  @apply bg-red-500 text-white font-medium px-3 py-2 mt-5 rounded-md hover:bg-red-400;
}

.delete-input{
  @apply border border-red-500 outline-none rounded-md px-3 py-4 text-red-500;
}